# PostgreSQL
POSTGRES_DB=hotmart_ai
POSTGRES_USER=hotmart_app
POSTGRES_PASSWORD=change_me


# Spring datasource
SPRING_DATASOURCE_USERNAME=hotmart_app
SPRING_DATASOURCE_PASSWORD=change_me


# Hotmart
HOTMART_WEBHOOK_HOTTOK=your_hotmart_webhook_hottok


# Redis
REDIS_PASSWORD=change_me


# Authentication
VERIFICATION_CODE_SECRET=change_me